			<style type="text/css">
				.py-0 {
					padding-top: 0 !important;
					padding-bottom: 0 !important;
				}

				.py-1 {
					padding-top: 0.25rem !important;
					padding-bottom: 0.25rem !important;
				}

				.py-2 {
					padding-top: 0.5rem !important;
					padding-bottom: 0.5rem !important;
				}

				.py-3 {
					padding-top: 1rem !important;
					padding-bottom: 1rem !important;
				}

				.py-4 {
					padding-top: 1.5rem !important;
					padding-bottom: 1.5rem !important;
				}

				.py-5 {
					padding-top: 3rem !important;
					padding-bottom: 3rem !important;
				}
				.x_title h2{
					overflow: visible !important; 
				}
			</style>
			<!-- page content -->
		    <!-- <br/>
		    <div class="col-md-12 center-margin">
		        <form class="form-horizontal form-label-left" id="formulario" name="formulario">
		            <section class="panel">
		                <div class="x_title">
		                    <h2 class="green">VISITA N° <b id="numerovisita2"></b></h2>
		                    <div class="clearfix"></div>
		                </div>
		                <div class="panel-body">
		                    <div class="project_detail">
		                        <p class="title"> NOMBRE</p>
		                        <h3 class="value text-success" id="nombProy2"></h3>

		                        <div class="clearfix"></div>

		                        <p class="title"> ETAPA ACTUAL  </p>
		                        <p class="value text-info text-bold" id="estadoproy2"></p>

		                        <div class="clearfix"></div>

		                        <p class="title"> FECHA DE INICIO </p>
		                        <p class="value text-success" id="created_time2"></p>

		                        <div class="clearfix"></div>


		                        <p class="title"> CODIGO </p>
		                        <p class="value text-success" id="codigo2"></p>

		                        <p class="title">CENTRO DE COSTO</p>
		                        <p class="green" id="ccnomb2"></p>



		                        <p class="title">MANAGER</p>
		                        <p id="pm2"></p>

		                        <p class="title">SUPERVISOR</p>
		                        <p id="supervisor2"></p>
		                    </div>
		                </div>
		            </section>
		            
		            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
		                <input type="hidden" id="idproyecto2" name="idproyecto" class="form-control" required="Campo requerido">
		                <input type="hidden" id="idestado2" name="idestado" class="form-control" required="Campo requerido">
		                <input type="hidden" id="idventa2" name="idventa" class="form-control" required="Campo requerido">
		            </div>
		            
		            <div id="ascensores2"></div>
		            
		            <div class="ln_solid"></div> 
		            <div class="form-group">
		                <div class="col-md-12 col-sm-12 col-xs-12">
		                    <button class="btn btn-primary" style="float: right;" type="button" id="btnCancelar" onclick="cancelarrevisar()">Volver</button>
		                </div>
		            </div>
		        </form>
		    </div> -->



			<br/>
			<div class="col-md-12 center-margin">
			<!-- <div class="right_col" role="main"> -->
				<!-- <div class=""> -->
					<!-- <div class="clearfix"></div> -->
						<section class="panel">
							<div class="x_title">
								<h3 style="color: #169F85">VISITAS DEL EQUIPO</h3>
								<div class="clearfix"></div>
								<hr>
								<div class="row ">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<strong>OBRA: </strong>{obra}
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
										<strong>ASCENSOR / ESCALERA: </strong>{ascensor}
									</div>
									<!-- <div class="col-md-6 col-sm-12 col-xs-12">
										<div class="row">
											<div class="col-md-5 col-sm-12 col-xs-12">
												<strong>INFORME DE VISITA A OBRA</strong>
											</div>
											<div class="col-md-7 col-sm-12 col-xs-12">
												{ascensor}
											</div>
										</div>
									</div> -->
								</div>

								<hr>

								<div class="row">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<li><strong><a href="#" onclick="newvisitaequipo({idascensor}, 1);" style="color: #169F85">NUEVO INFORME DE VISITA A OBRA</a></strong></li>
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
										<li><strong><a href="#" onclick="newvisitaequipo({idascensor}, 2);" style="color: #169F85">NUEVO INFORME DE GESTION DE SEGURIDAD Y SALUD OCUPACIONAL</a></strong></li>
									</div>
								</div>

								<hr>

								<table class="table table-bordered table-hover">
								<tr style="background-color: lightgrey;">
									<th>Visita</th>
									<th>Tipo</th>
									<th>Fecha visita</th>
								</tr>
								<!-- START BLOCK : visitas -->
								<tr>
									<td>
										<a type="button" class="btn btn-info btn-xs" href="#" onclick="MostrarPreview('visitaencuesta', {visita});">Ver</a>
									</td>
									<td>{tipoencuesta}</td>
									<td>{fechavis}</td>
								</tr>
								<!-- END BLOCK : visitas -->
								</table>

								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6 py-1 text-center">
										<button class="btn btn-default" type="button" id="btnCancelar" onclick="cancelarform()"> Cancelar</button>
									</div>
									<!-- <div class="col-md-6 col-sm-6 col-xs-6 py-1 text-center">
										<button class="btn btn-primary"> Submit</button>
									</div> -->
								</div>
							</div>
						</section>
					<!-- </div>	 -->
				</div>
			<!-- </div> -->
			<!-- /page content -->