body {
	font-size: 11px;
	font-family: Arial;
}
.titulo {
	text-align: center;
	margin: 15px 0px;
	font-weight: bold;
	font-size:  20px;
}
.subtitulo {
	text-align: center;
	font-weight: bold;
	font-size:  16px;
}
.subtituloventas {
	text-align: center;
	font-weight: bold;
	font-size:  18px;
}
.tabla {
	/*display:table;*/
	/*table-layout:fixed;*/
	width: 100%;
	background-color: black;
}
.tabladetventa {
	/*display:table;*/
	/*table-layout:fixed;*/
	/*padding: 0 0 0 0;*/
	font-size: 13px;
}

.tabladetventa td {
	padding: 1px 1px 1px 1px;
}

th, td {
	/*border: 1px solid black;*/
	background-color: #FFFFFF;
}
.subtitulo2 {
	text-align: center;
	font-weight: bold;
	font-size:  14px;
}
.tabla2 {
	/*display:table;*/
	/*table-layout:fixed;*/
	width: 100%;
	/*background-color: black;*/
}

.tablabordecelda
{
	border-collapse: collapse;
  border-style: hidden;
}

.tablabordecelda td {
	border: 2px solid black;
}


/*.tabla > tbody > tr > td {
	height: 40px;
}

.tabla > tr > td {
	height: 40px;
}

.tabla tr td {
	height: 40px;
}

.tabla tbody tr td table {
    height: 10px;
}*/

.centertext {
	text-align:  center;
}
.boldtext {
	font-weight: bold;
}
.borde {
	/*border: 1px solid black;*/
}
.altocelda {
	height: 40px;
}
.altocelda2 {
	height: 10px;
}
.altocelda22 {
	height: 22px;
}
td {
	padding: 5px;
}
.imagen[src=""] {
  display:none;
}

.table {
  display: table;
  width:  100%;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
}