body {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width:  100%;
}
thead {
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
}
tfoot {
    text-align: center;
    font-weight: bold;
}
th {
    text-align: left;
    /*padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;*/
    vertical-align: top;
    border: 1px solid red;
}
td {
    /*padding-left: 0.15em;
    padding-right: 0.15em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;*/
    /*padding: 0.0em;*/
    padding: 2px;
    vertical-align: top;
    border: 1px solid black;
    text-align: center;
}

.sinborde {
	border:  none;
}

.nobordetop {
	/*border-top: 1px solid red;*/
	margin-top: -1px;
}

.col-2 {
	width:  50%;
}

.col-3 {
	width:  33.33%;
}

.col-4 {
	width:  25%;
}

.col-25 {
	width:  25%;
}

.col-50 {
	width:  50%;
}

.col-60 {
	width:  60%;
}

.col-75 {
	width:  75%;
}

.col-20 {
	width:  20%;
}

.col-30 {
	width:  30%;
}

.col-10 {
	width:  10%;
}

.col-15 {
	width:  15%;
}

.col-05 {
	width:  5%;
}

.col-03 {
	width:  3%;
}

.col-06 {
	width:  6%;
}

.col-45 {
	width:  45%;
}

.textochico {
	font-size: 0.7em;
}

.subtitulo {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color: #E6E6E6;
}

.titulo {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}

.negrita {
	font-weight: bold;
}

.encabezado {
	text-align:  center;
	font-size:  16px;
	font-weight:  bold;
}
.left {
	text-align: left;
}

.right {
	text-align: right;
}
/*img {
    margin: 0.2em;
    vertical-align: middle;
}*/